body,
div.h1,
h2,
h3,
p,
img,
table,
td,
th {
    margin: 0 !important;
}

div#header {
    background-color: rgb(199, 21, 133);
    color: yellow;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div#invis-header {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img.logo {
    width: 100%;
    height: 100%;
    max-width: 30px;
    max-height: 30px;
}

img.deco {
    border: 2px solid blue;
    width: 40px;
    height: 30px;
}

button.sign-up {
    width: 6em;
    height: 30px;
    margin: auto 0 auto 0;
    background-color: white;
    color: yellow;
    font-weight: bold;
}



.title {
    text-align: center;
    background-color: rgb(240, 230, 140);
    padding: 1.5em;
}

.Pichead {
    background-image: url('KhoAnh/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    width: auto;
    font-family: Brush Script MT;
    font-style: italic;
    font-size: 2.5em;
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
    background-color: rgb(250, 250, 210);
    gap: 1em
}

.big-break {
    height: 1em;
    color: rgb(250, 250, 210);
}

li {
    margin: 0.5em 0 0.5em 0;
}

.sub-main {
    background-color: rgb(250, 250, 210);
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.sub-main h1 em {
    display: block;

}

table.thong-tin {
    font-size: large;
    width: 40%;
}

table.thong-tin th {
    text-align: right;
    padding-right: 0.5em;
    width: 35%;
}

table.thong-tin td {
    text-align: left;
    padding-left: 0.5em;
}



div#footer {
    position: absolute;
    background-color: rgb(219, 112, 147);
    width: 100%;
    color: white;
}

.cuoitrang {
    display: flex;
    justify-content: space-evenly;
}

.thanhvien {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 105, 180);
}